[submodule "nest-api"]
	path = nest-api
	url = https://github.com/kwizapp/nest-api
[submodule "ionic-app"]
	path = ionic-app
	url = https://github.com/kwizapp/ionic-app
[submodule "metadata-service"]
	path = metadata-service
	url = https://github.com/kwizapp/metadata-service
[submodule "poster-service"]
	path = poster-service
	url = https://github.com/kwizapp/poster-service
[submodule "kwiz-utils"]
	path = kwiz-utils
	url = https://github.com/kwizapp/kwiz-utils.git
[submodule "kwiz-dotfiles"]
	path = kwiz-dotfiles
	url = https://github.com/kwizapp/kwiz-dotfiles
